<div class="content">
<div class="card">
    <div class="card-body">

        <h2>Esqueci Minha Senha</h2>
        <hr>

        {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
        {{else}}

        {{/each}}

        <form action="/usuario/forgot_password" method="post">
        <label for="email"><Strong>Email:</Strong></label>
        <p><input class="form-control" type="email" id="email" name="email" placeholder="Email" required></p>
        <div class="d-grid gap-2">
        <button class="btn btn-outline-success" type="submit">ENVIAR EMAIL</button>
        </div>
        </form>
     </div>
</div>
</div>
   